.gradient-custom-2 {
/* fallback for old browsers */
background: hotpink;

/* Chrome 10-25, Safari 5.1-6 */
/*background: -webkit-linear-gradient(to right, #7d12, #d8363a, #dd3675, #b44593);*/

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+*/
background: linear-gradient(to right, #7d12ff, #ab20fd, #200589);
}

@media (min-width: 768px) {
.gradient-form {
height: 100vh !important;
}
}
@media (min-width: 769px) {
.gradient-custom-2 {
border-top-right-radius: .3rem;
border-bottom-right-radius: .3rem;
}
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'DatalegreyaGradient';
  font-weight: bold;
  font-style: normal;

}

#height-header {
  height: 30vH;  
}

#height-main {
  height: 70vH;  
}

#header-size {
  font-size: 5em;
}

#side-block {
  background: linear-gradient(to bottom, #7d12ff, #ab20fd) !important;
}


#token-generator{
  color: white;
  background-color: #ab20fd;
  font-weight: bold !important;
}



.button-color {
  color: white;
  font-weight: bold !important;
  padding: 10px;
  width: calc(100% - 20px);
}

.button-color:hover, #button-color:focus, #button-color:active {
  color: white;
  background-color: #ab20fd;
}


#button-color-2 {
  color: white;
  font-weight: bold;
  padding: 10px;
  width: calc(100% - 20px);
}

#button-color-2:hover, #button-color-2:focus, #button-color-2:active {
  color: white;
  background-color: #ab20fd;
}

#button-color-3 {
  color: white;
  font-weight: bold;
  padding: 10px;
  width: calc(100% - 20px);
}

#button-color-3:hover, #button-color-3:focus, #button-color-3:active {
  color: white;
  background-color: #ab20fd;
}

.btn {
  border: 5px, solid,  green;
}

#card {
  height: 10em;
}


#container {
  padding: 2em 3em 3em 3em;
  font-family:'Arial';
  font-weight: lighter;  
  color: grey;
}

#img_w {
  margin-top: 5px;
  width:800px;
  height:600px;
}


.wrapper_title {
  width:100%
}

.title_text {
  padding-top: 15em;
}

#link-1 {
  color:#7d12ff;
}


#link-2 {
  color:#7d12ff;
}

/*#font-color-form {
  background: -webkit-linear-gradient( #7d12ff,#200589);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}*/

#mamaDiv {

  margin: 0;
  padding: 0;
}


#viewDiv {
    height: 400px;
    width: 500px;
}


#text-small {
  color:  #7d12ff;
}

img {
  width:190px;
  height: 170px;
}

.account_user {
  padding: 2em;
  margin: 2em;
}

#favorite_sisters {
  font-size: 1.5em;
}