.gradient-custom-2 {
/* fallback for old browsers */
background: hotpink;

/* Chrome 10-25, Safari 5.1-6 */
/*background: -webkit-linear-gradient(to right, #7d12, #d8363a, #dd3675, #b44593);*/

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+*/
background: linear-gradient(to right, #7d12ff, #ab20fd, #200589);
}

@media (min-width: 768px) {
.gradient-form {
height: 100vh !important;
}
}
@media (min-width: 769px) {
.gradient-custom-2 {
border-top-right-radius: .3rem;
border-bottom-right-radius: .3rem;
}
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'DatalegreyaGradient';
  font-weight: bold;
  font-style: normal;
}

#header-size {
  font-size: 5em;
}

#side-block {
  background: linear-gradient(to bottom, #7d12ff, #ab20fd) !important;
}

#container {
  padding: 2em 3em 3em 3em;
  font-family: 'Gill Sans';

  
}

/*#font-color-form {
  background: -webkit-linear-gradient( #7d12ff,#200589);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}*/

#mamaDiv {

  margin: 0;
  padding: 0;
}


#viewDiv {
    height: 400px;
    width: 500px;
}


