:root {
  --violet: linear-gradient(to right, #7d12ff, #ab20fd, #200589);
  --white: #ffffff;
}


/* overall styles for the page */
html,body {
  font-family: 'DatalegreyaGradient';
  font-weight: bold;
  font-style: normal;
  font-size: 20pt;
  padding: 0;
  margin:0;
  
}

.box-wrapper {
  display: flex; /* add this */
  width: 100%;
}


#top-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vH;
  width: 100%;
  background: var(--violet);
  color: white;
  font-size: 1.3em;
}


#sidebar {
  width: 20%;
  background: var(--violet);
  color: white;
  height: 80vH;
  background: linear-gradient(to bottom, #7d12ff, #ab20fd) !important;
}
#choices {
  margin: 1.5em;
}

ul {
  list-style-type: none;
}

.sideButtons {
  border: solid 2px white;
  background-color: #7d12ff;
  color: white;
  font-size: 0.7em ;
  margin: 0,2em;
  border-radius: 8px;
  font-family: 'DatalegreyaGradient';
  font-weight: bold;
  padding: 10px;
  width: calc(100% - 20px);

}


button {
  border: solid 2px #7d12ff;
  background-color: white;
  color: #7d12ff;
  font-size: 1.1em ;
  margin: 0.5em;
  border-radius: 8px;
  font-family: 'DatalegreyaGradient';
  font-weight: bold;
  cursor: pointer;
  padding: 3px;
  width: calc(30% - 6px);
}




main {
  width: 80%;
  background: var(--white);
  padding-left: 50px ;
  font-family: 'DatalegreyaGradient';
  font-weight: lighter;
}

#Test_JS {
  padding-bottom: 0.7em;
}

#sis_text {
  margin: 0.4em;
  padding: 0,5em;
}


#mama-div  {

  margin: 0;
  height: 100%;
  width: 100%;
}

#viewDiv {
padding-left: 5%; 
width:600px;
height:400px;

}

