{% extends "layoutMap.html" %}
{% block head %}
<link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/datalegreya" type="text/css" />
<link rel="stylesheet" href="https://js.arcgis.com/4.26/esri/themes/light/main.css">
<script src="https://js.arcgis.com/4.26/"></script>
<script src="{{url_for('static', filename='testFind.js')}}"></script>
<script>
  require([
    "esri/config",
    "esri/Map",
    "esri/views/MapView",
    "esri/Graphic",
    "esri/layers/GraphicsLayer",
    "esri/rest/locator",

  ], function (esriConfig, Map, MapView, Graphic, GraphicsLayer, locator) {

    esriConfig.apiKey = "{{MAP_KEY}}";
    initMap(esriConfig, Map, MapView, Graphic, GraphicsLayer, locator)


  });</script>




{% endblock head%}




{% block side %}

<ul>
  <li>
    <a href="{{url_for('recommend')}}"><button type="button" class="sideButtons">Recommend A Sist*A</button></a>
  </li>
  <li >
    <a href="{{url_for('home')}}"><button type="button" class="sideButtons">Home</button></a>
  </li>
  <li >
    <a href="{{url_for('more')}}"><button type="button" class="sideButtons">find out more</button></a>
  </li>
  <li>
    <a href="{{url_for('logout')}}"><button type="button" class="sideButtons" >logout</button></a>
  </li>
</ul>




{% endblock side %}

{% block col %}

<div> 
  <h2>Find available Businesses and Services</h2>
  <div id="choices">
  </div>
</div>





<div id="Test_JS">
</div>

<div id="map-wrapper">
  <div id="viewDiv"></div>
</div>

</div>
</div>






{% endblock col%}