{% extends "layout.html" %}
{% block head %}
<title>Welcome back</title>
<link rel="stylesheet" href="static/style.css">

{% endblock %}



{% block col %}
{% for mesg in get_flashed_messages() %}
<h1>{{ mesg }}</h1>
{% endfor %}


<!-- Foto von <a href="https://unsplash.com/@wonderlane?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Wonderlane</a> auf <a href="https://unsplash.com/de/s/fotos/star-trek?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  -->

<div class="row wrapper_title">      
      <div class="col-md-4 img_text">
            <img id="img_w" src="{{url_for('static', filename='BildFrauengruppe.png')}}" class="img-fluid" alt="...">
        </div>
        <div class="col-md-8 title_text">
            <div>
                <h1 class="display-2">Welcome back !!!</h1>
              
               
          
            </div>
        </div>

    </div>





    <!-- this is where the second tab starts -------------------------------------------------------------------------------->


        <!-- this is where the second tab starts ------------------------------------------------------------------------------>

    <!-- third one -->




</div>
</div>



{% endblock %}
{% block body %}


{% endblock %}