<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome To Recommend A Sista</title>
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/datalegreya" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesindex.css') }}" />
</head>

<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div id="flashes">
        {% for message in messages %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}   

    <header id="item-1">
        <div>
            <h1>Recommend a Sist*A</h1>
        </div>

    </header>

    <div class="container">

        <aside id="item-2">
            <h2>Find and Recommend Buisnesses and Services of BIPoC and Migrant Women* in Berlin. <br> <br> An App for BIPoC and Migrant Women* in Berlin </h2>
        

            <ul id="buttons">
                <li><a class="button1" href="{{url_for('login')}}"> Log In </a></li>
                <li><a class="button1" href="{{url_for('register')}}"> Register </a></li>
                <li><a class="button1" href="{{url_for('find')}}"> find out more. </a></li>
            </ul>


        </aside>

        <main id="item-3">
           <img src="{{ url_for('static', filename='groupVector.png') }}" alt="">
           <a href="https://www.freepik.com/free-vector/senior-women-portrait-character-female_28157757.htm#query=women%20diversity%20professional&position=28&from_view=search&track=ais">Image by gstudioimagen1  on Freepik </a>
    
        </main>

    </div>



</body>

</html>