{% extends "layout.html" %}
{% block head %}
<title>Recommend </title>
<link rel="stylesheet" href="static/style.css">
{% endblock %}

{% block side %}

<div class="vertical">
    <a id="button-color" class="btn btn-outline-light m-3" href="{{url_for('recommend')}}"> Recommend a Sist*A</a>
    <a id="button-color-2" class="btn btn-outline-light m-3" href="{{url_for('find')}}"> Find a Sist*A</a>
    <a id="button-color-2" class="btn btn-outline-light m-3" href="{{url_for('account')}}"> Account </a>
    <a id="button-color-3" class="btn btn-outline-light  m-3" href="{{url_for('more')}}"> find out more. </a>
    <a id="button-color-3" class="btn btn-outline-light  m-3" href="{{url_for('logout')}}"> Log out </a>
</div>

{% endblock side %}


{% block col %}

{% for mesg in get_flashed_messages() %}
<h1>{{ mesg }}</h1>
{% endfor %}

<div>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group" id="font-color-form">
            <legend class="border-bottom mb-4" id="font-color-form">Recommend a Sist_a</legend>
            <div class="form-group">
                {{ form.fullname.label(class="form-control-label") }}
                {% if form.fullname.errors %}
                {{ form.fullname(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.fullname.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.fullname(class="form-control form-control-lg") }}
                {% endif %}
            </div>


            <div class="form-group">
                {{ form.description.label(class="form-control-label") }}
                {% if form.description.errors %}
                {{ form.description(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.description.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {% set selected = '' %}
                <select class="form-control form-control-lg" id="description" name="description">
                    <option value="">Choose an existing option</option>
                    {% for sister in sisters %}
                    {% if sister == form.description.data %}
                    {% set selected = 'selected' %}
                    {% endif %}
                    <option value="{{ sister }}" {{ selected }}>{{ sister }}</option>
                    {% set selected = '' %}
                    {% endfor %}
                </select>
                {{ form.new_description(class="form-control form-control-lg", placeholder="Enter a new option") }}
                {% endif %}
            </div>
            


            



            <div class="form-group">
                {{ form.contact.label(class="form-control-label") }}
                {% if form.contact.errors %}
                {{ form.contact(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.contact.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.contact(class="form-control form-control-lg") }}
                {% endif %}
            </div>


            <div class="form-group">
                {{ form.address.label(class="form-control-label") }}
                {% if form.address.errors %}
                {{ form.address(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.address.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.address(class="form-control form-control-lg") }}
                {% endif %}
            </div>

        </fieldset>
        <div class="form-group">
            {{ form.submit(class='btn btn-outline-dark')}}
        </div>
    </form>



</div>

{% endblock %}