
                            <!-- {% else %}
                            {{ form.description(class="form-control form-control-lg") }}
                            {% endif %}
                            <div class="dropdown-menu" aria-labelledby={{form.segmentID.label}}>
                                {% for segment in form.segmentID.choices %}
                                  <option value="{{ segment }}">{{ segment }}</option>
                                {% endfor %}
                        </div>
                        </div>  -->


                        <a href="https://www.freepik.com/free-vector/group-strong-women-vector_3439240.htm#query=professional%20woman%20group%20divers&position=46&from_view=search&track=ais">Image by rawpixel.com on Freepik</a> 