
                            <!-- {% else %}
                            {{ form.description(class="form-control form-control-lg") }}
                            {% endif %}
                            <div class="dropdown-menu" aria-labelledby={{form.segmentID.label}}>
                                {% for segment in form.segmentID.choices %}
                                  <option value="{{ segment }}">{{ segment }}</option>
                                {% endfor %}
                        </div>
                        </div>  -->